.options {
    display: flex;
    justify-content: space-between;
}

.options span {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    color: #c77dff;
}

.optionsDiv {
    display: flex;
    flex-direction: column;
}