.coll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.colls {
    width: 30rem;
    height: 14rem;
    padding: 1rem;
}

.colls h3 {
    animation: neonAnim 2s alternate-reverse infinite;
    color: #C77DFF;
    margin: 0.5rem;
}
@keyframes neonAnim {
    from {
        text-shadow:
          0 0 21px rgba(199, 125, 255, .7),
          0 0 51px rgba(199, 125, 255, .7),
          0 0 111px rgba(199, 125, 255, .7);
      }
      to {
        text-shadow:
          0 0 16px rgba(199, 125, 255, .7),
          0 0 31px rgba(199, 125, 255, .7),
          0 0 71px rgba(199, 125, 255, .7);
      }
}

@media only screen and (max-width: 600px) {
    .colls {
        width: 10rem;
        margin-left: 0;
    }

    .coll {
        justify-content: center;
    }
}

.options {
    display: flex;
    justify-content: space-between;
}

.options span {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    color: #c77dff;
}
