.contentDiv {
    display: flex;
    flex-wrap: wrap;
}

.cardDiv {
    color:darkgray;
    height: 10rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 1rem 1rem;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 1rem;
    align-content: center;
    text-align: center;
    width: 10rem;
    background-color: #1b1b1b;
    box-shadow: 10px 10px 8px 0 rgba(0,0,0,0.5);
}

.cardTitle {
    font-size: 1.2rem;
}
 

.savedDiv {
    display: flex;
    justify-content: flex-end;
}

.fa-bookmark {
    font-size: 1.5rem;
    color: #C77DFF;
}

.fa-bookmark:hover {
    cursor: pointer;
}

.pad {
    padding-top: 0.5rem;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.grow:hover .fasCard { animation: neonAnim 2s alternate-reverse infinite;
    color: #C77DFF;}

.fasCard {
    
}
@keyframes neonAnim {
    from {
        text-shadow:
          0 0 12px rgba(199, 125, 255, .7),
          0 0 42px rgba(199, 125, 255, .7),
          0 0 102px rgba(199, 125, 255, .7);
      }
      to {
        text-shadow:
          0 0 7px rgba(199, 125, 255, .7),
          0 0 22px rgba(199, 125, 255, .7),
          0 0 62px rgba(199, 125, 255, .7);
      }
}